#heading {
  border: 4px;
  border-color: rgb(255, 255, 255);
  border-style: double;
  padding-left: 100px;
  padding-right: 300px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-size-adjust: 40px;
  background: rgb(81, 81, 211, 45%);
  color: white;
  border-radius: 10px;
}
.items {
  height: 430px;
  border-style: groove;
  width: 430px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 3px;
  background: rgb(255, 255, 255, 50%);
  text-size-adjust: 10px;
  text-emphasis-style: bold;
  border-radius: 10px;
}
.price {
  border: 0.5px;
  border-style: ridge;
  border-color: rgb(255, 255, 255);
  padding-left: 50;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(255, 88, 88);
  border-radius: 10px;
  text-align: center;
}
.det {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 20px;
  border: 0.5px;
  border-color: black;
  background: whitesmoke;
  border-style: groove;
  border-radius: 10px;
}
.image {
  padding-left: 80px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  border: 1px;
  image-resolution: cover;
  height: 200px;
  width: 250px;
  border-color: black;
  background-color: rgb(255, 255, 255);
  border-style: groove;

  border-radius: 10px;
}

.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  color: black;
  text-underline-offset: 0px;
}
a:hover {
  border-color: aqua;
  border-style: solid;
  border: 1.5px;
}
